allow flags_health_check alarm_boot_prop:file { getattr open };
allow flags_health_check sdm_idle_time_prop:file { getattr open };
allow flags_health_check sensors_prop:file { getattr open };
allow flags_health_check serialno_prop:file { getattr open };
allow flags_health_check spcomlib_prop:file { getattr open };
allow flags_health_check system_boot_reason_prop:file { getattr open };
allow flags_health_check system_lmk_prop:file { getattr open };
allow flags_health_check system_trace_prop:file { getattr open };
allow flags_health_check sys_usb_configfs_prop:file { getattr open };
allow flags_health_check sys_usb_controller_prop:file { getattr open };
allow flags_health_check sys_usb_tethering_prop:file { getattr open };
allow flags_health_check test_boot_reason_prop:file { getattr open };
allow flags_health_check theme_prop:file { getattr open };
allow flags_health_check time_prop:file { getattr open };
allow flags_health_check traced_enabled_prop:file { getattr open };
allow flags_health_check traced_lazy_prop:file { getattr open };
allow flags_health_check uicc_prop:file { getattr open };
allow flags_health_check usf_prop:file { getattr open };
allow flags_health_check vendor_mpctl_prop:file { getattr open };
allow flags_health_check vendor_rild_libpath_prop:file { getattr open };
allow flags_health_check vendor_system_prop:file { getattr open };
allow flags_health_check vendor_timekeep_prop:file { getattr open };
allow flags_health_check vendor_wifi_prop:file { getattr open };
allow flags_health_check vendor_wifi_version:file { getattr open };
allow flags_health_check vm_bms_prop:file { getattr open };
allow flags_health_check wififtmd_prop:file { getattr open };
allow flags_health_check wifi_prop:file { getattr open };
allow flags_health_check wigig_prop:file { getattr open };
allow flags_health_check xlat_prop:file { getattr open };
