allow flags_health_check alarm_boot_prop:file { getattr open };
allow flags_health_check uicc_prop:file { getattr open };
allow flags_health_check usf_prop:file { getattr open };
allow flags_health_check vendor_mpctl_prop:file { getattr open };
allow flags_health_check vendor_rild_libpath_prop:file { getattr open };
allow flags_health_check vendor_system_prop:file { getattr open };
allow flags_health_check vendor_timekeep_prop:file { getattr open };
allow flags_health_check vendor_wifi_prop:file { getattr open };
allow flags_health_check vendor_wifi_version:file { getattr open };
allow flags_health_check vm_bms_prop:file { getattr open };
allow flags_health_check wifi_prop:file { getattr open };
allow flags_health_check wififtmd_prop:file { getattr open };
allow flags_health_check wigig_prop:file { getattr open };
allow flags_health_check xlat_prop:file { getattr open };
