allow vendor_init proc_dirty_ratio:file write;
allow vendor_init proc_dirty:file write;
allow vendor_init proc_extra_free_kbytes:file write;
allow vendor_init proc:file rw_file_perms;
